.card img {
    background-color: lightgray;
}

.card:hover {
    border: 3px solid rgb(9, 88, 1);
    transform: scale(1.15);
    transition: 1s;
    z-index: 1000;
}

.cursor-pointer {
    cursor: pointer;
}